#left-nav{
	flex-basis: 0;
}
#middle-nav{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 1;
	flex-grow: 1;

}
#right-nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-basis: 0;
}

.dropdown {
	display: inline-block;
	position: relative;
	margin-left: 10px;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.dropdown-content {
	border: 1px solid #ffc107;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	background-color: white;
	width: 20vw;
	min-width: 100px;
}
.nav-wrapper{
	position: fixed;
	z-index: 1;
	width: 100vw;
}
.navbar{
	display: flex;
	flex-direction: column;
	border-top: solid 2px rgba(1, 74, 191, .7);
	border-bottom: solid 2px rgba(1, 74, 191, .7);
	background:  linear-gradient(to left, rgba(1, 74, 191, .6) , rgba(20, 44, 81, .6));
	padding: 0pt;
}
.nav-link-metal{
	background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}
.navbar-brand{
	margin: 0px;
	padding: 0px;
	font-family: 'Russo One', sans-serif;
	color: rgba(147, 154, 165, 1);
	font-size: 35pt;
	position: relative;
	z-index: 2;
	font-size: 40pt;
	color: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}
.navbar-collapse{
	flex: 1;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-nav{
	width: 100%;
	position: relative;
}
.tri-left {
	flex-basis: 1;
	flex: 1;
}
.tri-middle {
	display: flex;
	justify-content: center;
}
.tri-right {
	display: flex;
	flex-direction: row;
	flex-basis: 1;
	flex: 1;
}
.tri-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.yellow-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ffc107;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	background-color: #ffc107;
  white-space: nowrap;
	cursor: pointer;
}
