<div id="content">
    <div id="ships">
        <div *ngFor="let ship of shipsList" (click)="selectShip(ship)">
            <div class="ship-header">
                <div class="ship-header-text">
                    <h3>{{ship.name}}</h3>
                </div>
                <span class="ship-header-divider"></span>
            </div>
            <div class="ship-content">
                <div>
                    <img src="{{ship.thumbnail}}">
                </div>
            </div>
            <span class="ship-header-divider"></span>

        </div>
    </div>
</div>
<div (click)="selectShip(null)"  *ngIf="selectedShip" [@dialogueState]="dialogueState" class="selected-dialogue">
    <div class="selected-box">
        <div class="selected-box-header">
            <h3>{{selectedShip.name}}</h3>
            <div class="wrapper-background">
            </div>
        </div>
        <div class="selected-box-content">
            <img class="selected-box-shipimg" src="{{selectedShip.thumbnail}}">
            <button>Close</button>
        </div>
    </div>
</div>
