<!--The content below is only a placeholder and can be replaced.-->
<div id="ships">
    <div *ngFor="let ship of shipsList">
        <div class="ship-header">
            <div class="ship-header-text">
                <h3>{{ship.name}}</h3>
            </div>
            <span class="ship-header-divider"></span>
        </div>
        <div class="ship-content">
            <div>
                <img src="{{ship.thumbnail}}">
            </div>
        </div>
        <span class="ship-header-divider"></span>

    </div>
</div>
