<div *ngIf = "addShipState">
  <div class="selected-dialogue">
      <div class="selected-box">
          <div class="selected-frame">
              <div class="selected-box-header">
                <h1 class="title-font metallic-text">Add Ship</h1>
              </div>
              <div class="selected-box-main">
                <div class="allow-y-scroll">
                  <form>
                    <h4>Add Ships to Database</h4>
                    <div *ngFor="let key of getKeysArray(shipsToAdd)" [creation-input-verify] = "shipsToAdd[key].url" >
                      <input error-visible id="{{key}}URL" [(ngModel)]="shipsToAdd[key].url" name="url"  placeHolder="Wikipedia URL"  #shipURL required>
                      <input [(ngModel)]="shipsToAdd[key].configuration" name="configuration" placeholder="0" type="number" min="0" required>
                      <div id="{{key}}URL-error"   class="alert alert-danger" >
                        Name is required{{testa}}
                      </div>
                      <p>{{shipsToAdd[key].va}} with config {{shipsToAdd[key].configuration}}</p>
                    </div>
                    <button type="button" (click) = "changeAddShipCount(1)">Add one more ship</button>
                    <button type="button" (click) = "changeAddShipCount(-1)">Remove ship</button>
                    <button type="button" (click) ="submitShipsToAdd()">Add Ships</button>
                  </form>
                </div>
              </div>
          </div>
          <div class="wrapper-background">
          </div>
      </div>
      <div class="glass-pane" (click)="closeCreation()">
      </div>
  </div>
</div>
