#ships{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 5%;
	padding-right: 5%;
	width: 100vw;
}
#ships>div{
	margin: 20pt;
	cursor: pointer;
}

#ships img{
	object-fit: contain;
	width: 400px;
	height: 200px;

}
.glass-pane{
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}


.ship-content{
	padding: 0pt;
}

.ship-header{
	display: flex;
	width: 100%;
	align-items: center;
}

.ship-header-divider{
	display: inline-block;
	height: 3px;
	content: '';
	width: 100%;
	background-color: rgba(1, 74, 191, .7);

}
.ship-header-text{
	padding: 0px;
	margin: 0px;
}
.ship-header-text h3{
	padding: 0px;
	margin: 0px;
}
.ship-header-background{
	display: block;
	position: relative;
}
.selected-dialogue{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	z-index: 100;
}

.selected-box{
	position: relative;
	z-index: 2;
	background: rgba(20, 44, 81, 1);
}
.selected-frame{
	position: relative;
	z-index: 2;
	margin: 20px;
	margin-bottom: 0px;

}
.selected-box-header{
	width: 100%;
	z-index: 2;
	position: relative;
	margin: 0px;
	padding: 0px;
	display: flex;
}
.selected-box-header>h1{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

.selected-ship-tabs{
	margin-left: auto;
	border: none;
	display: flex;
}
.selected-ship-tabs>.nav-item{
	margin-top: auto;
	flex: 1;


}
.selected-ship-tabs>.nav-item>a{
	background-color: #ffc107 !important;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	width: 75px;
	display: flex;
	justify-content: center;


}
.selected-ship-tabs>.nav-item:not(:first-child){
	margin-left: 3px;
}
.metallic-text{
	background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}
.title-font{
	font-family: 'Russo One', sans-serif;
}
.selected-box-content{
	background-color: white;
	height: 70vh;
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
}
.selected-box-stats{
	min-width: 300px;
	width: 30vw;

}
.selected-box-info{
	min-width: 300px;
	width: 30vw;
	overflow-y: scroll;
	border-left: solid 2px rgba(200, 200, 200, 1);

}
.info-section{
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 20px;

}
.blue-underline{
	text-decoration: underline;
	text-decoration-color: rgba(1, 74, 191, .7)
}

.selected-box-shipimg{
	width: 400px;
	height: 300px;
	object-fit: contain;
}
.info-box{
	margin: 2px;
	padding: 2%;
	border-bottom: solid 2px rgba(200, 200, 200, 1);
}
.info-box>p{
	margin: 0px;
	padding: 0px;
}
.visualization-button{
	display: block;
	position: relative;
	float: right;
}
