<div class="graph-wrapper">
  <div id="ship-graph">
    <svg style="display: none;"></svg>
  </div>
  <div id="info-panel">
    <div>
      <img src="{{ship.pictures[0].src}}">
      <h5>Connection info for <b>{{ship.displayName}}:</b></h5>
      <div class="edges">
        <div *ngFor = "let edge of shipEdges" class="edge">
          <div (click)="edge.display = !edge.display" class="edge-header">
            <h5>{{edge.view}}</h5><span><i class="fa" [ngClass]="edge.display ? 'fa-minus' : 'fa-plus'"></i></span>
          </div>
          <div class="edge-info" [hidden]="!edge.display">
            <p><b>Ship:</b> {{edge.view}}</p>
            <p><b>Direct Connection Strength:</b> {{edge.magnitude}}</p>
            <div>
              <p><b>Reasons</b>:</p>
              <ul>
                <li *ngFor = "let reason of edge.reasons">{{reason}}</li>
              </ul>
            </div>
            <button (click)="switchShip(shipMap[edge.viewURL])" class="btn">View Ship</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
