


<div id="content" class="not-dialogue">
    <div id="ships">
        <div *ngFor="let ship of shipsList" (click)="selectShip(ship)">
            <div class="ship-header">
                <div class="ship-header-text">
                    <h3>{{ship.displayName}}</h3>
                </div>
                <span class="ship-header-divider"></span>
            </div>
            <div class="ship-content">
                <div>
                    <img src="{{ship.pictures[0].src}}">
                </div>
            </div>
            <span class="ship-header-divider"></span>

        </div>
    </div>
</div>
<div *ngIf="selectedShip" [@dialogueState]="dialogueState" class="selected-dialogue">
    <div class="selected-box">
        <div class="selected-frame">
            <div class="selected-box-header">
                <h1 class="title-font metallic-text">{{selectedShip.displayName}}</h1>
                <ul class="selected-ship-tabs nav nav-tabs">
                      <li [ngClass]="{'active-tab': selectedShip.selectedTab==0}" class="nav-item">
                            <a  class="nav-link" (click)="selectTab(0)">General Overview</a>
                      </li>
                      <li [ngClass]="{'active-tab': selectedShip.selectedTab==1}" class="nav-item">
                            <a class="nav-link" (click)="selectTab(1)">Weapon Systems</a>
                      </li>
                      <li [ngClass]="{'active-tab': selectedShip.selectedTab==2}" class="nav-item">
                            <a class="nav-link" (click)="selectTab(2)">Visualization</a>
                      </li>
                </ul>
            </div>
            <div class="selected-box-main">
                <div class="tab-0 content-of-selected-box" *ngIf="selectedShip.selectedTab==0">
                    <div class="allow-y-scroll">
                        <div class="gallery-wrapper">
                            <div id="ship-gallery">
                                <img src="{{image.src}}" [attr.data-description]="image.description" *ngFor="let image of selectedShip.pictures">
                            </div>
                        </div>
                        <div *ngIf="selectedShip.description"  class="info-section primary-weapons">
                            <h4 class="title-font blue-underline">Description:</h4>
                            <div  class="info-box">
                                <p>{{selectedShip.description}}</p>
                                <p *ngIf="selectedShip.type" style="padding-top: 5px;"><b>Class:</b> {{selectedShip.type}}</p>
                                <p *ngIf="selectedShip.class" style="padding-top: 5px;"><b>Type:</b> {{selectedShip.class}}</p>
                                <p *ngIf="selectedShip.complement" style="padding-top: 5px;"><b>Complement:</b> {{selectedShip.complement}} sailors</p>
                            </div>
                        </div>
                        <div class="info-section primary-weapons">
                            <h4 class="title-font blue-underline">Important Dates:</h4>
                            <div class="info-box">
                                <div *ngFor="let importantDate of selectedShip.importantDates">
                                    <p><b>{{importantDate.significance}}:</b> <span *ngFor="let key of getKeysArray(importantDate.date)">{{importantDate.date[key]}}</span></p>
                                </div>
                            </div>
                        </div>

                        <div class="info-section primary-weapons">
                            <h4 class="title-font blue-underline">Physical Attributes:</h4>
                            <div class="info-box">
                                <div *ngFor="let attrKey of getKeysArray(selectedShip.physicalAttributes)">
                                    <p><b>{{attrKey}}:</b> {{selectedShip.physicalAttributes[attrKey].value}} {{selectedShip.physicalAttributes[attrKey].unit}}</p>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="selectedShip.armor.armorObjects != null && selectedShip.armor.armorObjects.length > 0" class="info-section primary-weapons">
                            <h4 class="title-font blue-underline">Armor:</h4>
                            <div class="info-box">
                                <div class="info-box">
                                    <h5 class="title-font blue-underline">General Armor Stats:</h5>
                                    <!--- All armor is in mm from the scraper conersion--->
                                    <p><b>Average Width:</b> {{selectedShip.armor.calculations.average}} mm</p>
                                    <p><b>Median Width:</b> {{selectedShip.armor.calculations.median}} mm</p>
                                    <p *ngIf = "selectedShip.armor.calculations.mode.frequency > 1"><b>Mode:</b> {{selectedShip.armor.calculations.mode.value}} mm with a frequency of {{selectedShip.armor.calculations.mode.frequency}}</p>
                                    <p><b>Range of Widths:</b> {{selectedShip.armor.calculations.minValue}}-{{selectedShip.armor.calculations.maxValue}} mm</p>
                                </div>
                                <div class="info-box">
                                  <h4 class="title-font blue-underline">Types of Armor:</h4>
                                  <div *ngFor="let armorObject of selectedShip.armor.armorObjects">
                                      <p><b>{{armorObject.armorType}}:</b> {{armorObject.minValue}}<span *ngIf="armorObject.range">-{{armorObject.maxValue}}</span> {{armorObject.unit}}</p>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-section primary-weapons">
                            <h4 class="title-font blue-underline">Other Info:</h4>
                            <div class="info-box">
                                <div *ngFor="let key of getsKeysNotInUse(selectedShip)">
                                    <b>{{key}}:</b> {{selectedShip[key]}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-1 content-of-selected-box" *ngIf="selectedShip.selectedTab==1">
                    <div class="allow-y-scroll">
                      <app-armament-list [armament-object]=selectedShip.armament></app-armament-list>
                    </div>
                </div>
                <div *ngIf="selectedShip.selectedTab==2">
                    <p>visualization</p>
                </div>
            </div>
        </div>
        <div class="wrapper-background">
        </div>
    </div>
    <div class="glass-pane" (click)="selectShip(null)">
    </div>
</div>
