@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Russo+One');


body{
	font-family: 'Roboto', sans-serif;
	background-color: white;
	color: black;
	overflow-x: hidden;

}
footer{
	margin-top: 100px;
	width: 100%;
	height: 300px;
	background:  linear-gradient(to left, rgba(1, 74, 191, 1) , rgba(20, 44, 81, 1));
	position: relative;

}
nav{
	position: relative;
}
#background{
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
	display: block;
	content: '';
	position: absolute;
}
#background::after{
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 1;
}
#content{
	position: relative;
	z-index: 0;
	padding-top: 250px;

}
#ship-graph > svg { /* If I choose to not use the WebGL renderer */
  height: 100%;
  width: 100%;
}

.brand-wrapper{
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
}
.credits {
	bottom: 0;
	font-size: 20pt;
	position: absolute;


}
.footer-content{
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	position: relative;
	width: 100%;
	z-index: 2;
}
.not-dialogue{

}
.wrapper-background{
	display: block;
	top: 0px;
	width: 100%;
	height: 100%;
	content: '';
	position: absolute;
	z-index: 1;
	background-image: URL("/Pictures/Backgrounds/pixelate.png");
}
.wrapper-content{
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	padding-top: 20px;
	background: linear-gradient(to left, rgba(1, 74, 191, 1) , rgba(20, 44, 81, 1));
}
.wrapper-content>img{
	position: relative;
	z-index: 2;
	width: 75px;
	min-height: 50px;
	object-fit: contain;
}
