<div *ngIf = "addShipState">
  <div class="selected-dialogue">
      <div class="selected-box">
          <div class="selected-frame">
              <div class="selected-box-header">
                <h1 class="title-font metallic-text">Add Ship</h1>
              </div>
              <div class="selected-box-main">
                <div class="allow-y-scroll">
                  <form>
                    <h4>Add Ships to Database</h4>
                    <div *ngFor="let key of getKeysArray(shipsToAdd)" [creation-input-verify] = "shipsToAdd[key].url" >
                      <!-- For some hellish reason, if you make name an array, angular doesn't treat it like an array. SO if one url input was filled it, it validated both as completed --->
                      <input  id="{{key}}URL" [(ngModel)]="shipsToAdd[key].url" name="url{{key}}"  placeHolder="Wikipedia URL"  #shipURL="ngModel" createShipValidator required>
                      <input [(ngModel)]="shipsToAdd[key].configuration" name="configuration{{key}}" placeholder="0" type="number" min="0" required>
                      <div *ngIf = "!shipURL.valid && !shipURL.pristine" id="{{key}}URL-error" class="alert alert-danger" >
                        <p *ngIf = "shipURL.errors.required">A URL is required </p>
                        <p *ngIf = "(shipURL.errors.containsWikipediaLink != null) && !shipURL.errors.required">The URL must direct to a Wikipedia page </p>
                      </div>
                    </div>
                    <button type="button" (click) = "changeAddShipCount(1)">Add one more ship</button>
                    <button type="button" (click) = "changeAddShipCount(-1)">Remove ship</button>
                    <button type="button" (click) ="submitShipsToAdd()">Add Ships</button>
                  </form>
                </div>
              </div>
          </div>
          <div class="wrapper-background">
          </div>
      </div>
      <div class="glass-pane" (click)="closeCreation()">
      </div>
  </div>
</div>
